
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Expedia">

    <test name="Cucumber runner">
        <classes>
            <class name="com.j4mt.webaut.test.expedia.testrunner.CucumberJvmTest" />
        </classes>
    </test>

</suite> <!-- Suite -->